.Header {
    background-color: #4B577A;
    width: 100%;
    height: 20%;
    /* position: absolute; */
}

.contact-header {
    margin: 0px !important;
    color: white;
    text-align: center;
    padding: 10px;
}

.search-sec {
    margin-left: 55px;
}

.Listing {
    overflow: scroll;
    width: 100%;
    height: 80%;
}

.line {
    background-color: black;
    width: 100%;
    height: 1px;
}