.Mobile {
    border-radius: 25px;
    border: 2px solid #727272;
    background-color: #727272;
    padding: 20px;
    width: 250px;
    height: 500px;
    position: relative;
    left: 37%;
}

.mobile-Button {
    position: absolute;
    height: 40px;
    width: 40px;
    background-color: #E7E8E8;
    border-radius: 50%;
    display: inline-block;
    bottom: 8px;
    right: 125px;
}

.mobile-speaker {
    position: absolute;
    height: 5px;
    width: 65px;
    display: inline-block;
    border: 2px solid #E7E8E8;
    border-radius: 25px;
    background-color: #E7E8E8;
    left: 40%;
}

.mobile-camera {

    position: absolute;
    height: 8px;
    width: 8px;
    background-color: #E7E8E8;
    border-radius: 50%;
    display: inline-block;
    left: 95px;
}

.mobile-screen {
    position: absolute;
    width: 275px;
    height: 435px;
    background-color: white;
    left: 8px;
    bottom: 55px;
}