body {
    padding: 30px 0px 60px;
}

@media (max-width: 767px) {
    .visible-xs {
        display: inline-block !important;
    }
    .block {
        display: block !important;
        width: 100%;
        height: 1px !important;
    }
}
@media (min-width: 375px) and (max-width: 667px) {
    .name{
        margin-left: 10px;
    }
  }
.title{
    color: #0079ab;
}
.name {
    font-size: 20px;
    font-weight: 700;
    margin-left: 15px;
    color: #0079ab;
}
.c-info {
    padding: 5px 10px;
    font-size: 1.25em;
}

.contact-img {
    width: 50px;
    height: 50px;
    position: absolute;
}
.fa {
    color: #0079ab;
}
.contact-container{
    position: relative;
}

.contact-details{
    left: 10%;
}
.contactList-bg{
    background: black;
}

.list-group{
    overflow-y: scroll;
    height: 500px;
}